#separate "name value" pair with space(s). Multivalues - when allowable - are separated with comma ','
serverURL=tcp://localhost:7222
username=admin
password
messageCountThreshold=5
serverPollingTimeInSec=10

#environemnt can be: dev, alpha, beta, prd
environment=dev

#notification channel. currently can be: console or email
notifier= email

#email config. 'sendingTO' is multi-values allowable
sendingTO=banto.78@gmail.com,antonio.bruno@digitalstrom.com
sendingFROM=emsmonitoring-noreply@gmail.com
smtpHost=owa.newtechgroup.ch
smtpPort=587
emailUsername=antonio.bruno@digitalstrom.com
emailPassword=
emailBodyTemplate= These destinations are either new destinations with backlog over the threshold or their backlog is increased by 1+ threshold(s) since the last check: <<backlog>>
emailTitle=EMS server destination(s) monitoring alert